@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 75px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #161616;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

#header a img {
    width: 83px;
    height: 80px;
    margin-left: 100;
    padding-left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0..3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #FF7200;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FF7200;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.featured-articles {
    padding-block: 2rem;
}

.section-header-offset {
    margin-top: 7.4rem;
}

.featured-articles-container,
.featrued-content {
    gap: var(--gap);
}

.headline-banner {
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
}

.headline {
    color: var(--light-color);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem;
    height: 100%;
}

.headline span {
    height: inherit;
}

.fancy-border {
    position: relative;
    overflow: hidden;
}

.fancy-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--gradient-color);
    background-size: 50% 100%;
    z-index: 5;
}

.fancy-border span {
    position: relative;
    z-index: 10;
    display: inline-flex;
    padding: .6rem 1.5rem;
    background-color: var(--secondary-background-color);
}

.article {
    position: relative;
    min-height: var(--item-min-height-md);
}

.article-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
}

.article-category {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--primary-background-color);
    color: var(--light-color);
    text-transform: uppercase;
    z-index: 10;
}

.article-data-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 1.5rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    width: 100%;
    transition: background-color .5s;
}

.article:hover .article-data-container {
    background-color: var(--hover-dark-color);
    color: var(--hover-dark-color);
}

.article:hover .article-data-container {
    background-color: var(--hover-light-color);

}

.article-data {
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
}

.article-data-spacer {
    width: .5rem;
    height: .5rem;
    background-color: var(--light-color-alt);
    transform: rotate(45deg);
}