@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
}
  
body {
    background-color: #e8e4e0;
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 75px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #161616;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}

#header a img {
    width: 83px;
    height: 80px;
    margin-left: 100;
    padding-left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #FF7200;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FF7200;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* SEARCH */
.wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container {
    margin: 1em 0;
    display: flex;
    justify-content: center;
}

#search-container input {
    background-color: transparent;
    max-width: 600px; /* Set a max width for the search input */
    width: 100%; /* Allow it to be 100% of the parent width */
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus {
    border-bottom-color: #1b1a19;
}

#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #0e0b09;
    color: #FF7200;
    border-radius: 5px;
    margin-top: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* FILTER */
#filters {
    display: flex;
    gap: 1em;
    margin: 1.5em 0;
    justify-content: center;
}

#filters select {
    padding: 0.8em 1.2em;
    background-color: transparent;
    border: 2px solid #030302;
    color: #0e0e0d;
    border-radius: 3em;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

#filters select:hover {
    border-color: #333333;
}

.button-value {
    border: 2px solid #010101;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #0e0d0d;
    cursor: pointer;
}

.active {
    background-color: #020202;
    color: #ffffff;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5em;
    padding: 2em 0;
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.container {
    padding-top: 1em;
    color: #110f29;
}

.hide {
    display: none;
}

/* Responsive Design */
@media screen and (max-width: 720px) {
    img {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }

    .card {
        max-width: 10em;
        margin-top: 1em;
    }

    #products {
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }

    #filters {
        flex-direction: column;
        gap: 0.5em;
    }

    #search-container input {
        width: 100%; /* Adjusted for mobile view */
    }
}
