@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
    margin-left: 50%; 
}

h2 {
    font-size: 46px;
    line-height: 64px;
}

h4 {
    font-size: 20px;
    color: #222;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
    margin-left: 50%; 
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

.body,
html {
    width: 100%;
    background: #eaeaea;
    overflow-x: hidden;
}

/* HEADER */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 75px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #161616;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#header a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

#header a img {
    width: 83px;
    height: 80px;
    margin-left: 100;
    padding-left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 10px 20px; /* Tambahkan padding untuk jarak */
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
    display: block; /* Pastikan link memenuhi area li */
}

#navbar li a:hover,
#navbar li a.active {
    color: #FF7200;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FF7200;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    color: #FF7200;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF7200;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav-link:hover::after,
.nav-link.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FF7200;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*  Hero */
#hero {
    background-image: url("../images/model3.jpg");
    background-size: cover;
    background-image: transparent 200%;
    padding: 0 80px;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    margin-left: 50%;   
}

#hero h2 {
    color: #FF7200;
    margin-left: 50%; 
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%,-50%);
}

.arrow span {
    display: block;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    border-bottom: 5px solid orange;
    border-right: 5px solid orange;
    margin-top: -10px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3){
    animation-delay: -.4s;
}

@keyframes scroll {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/* Slider */
#slider {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    background: #161616;
    position: relative;
    height: 115vh;
}

/* Corousel */
.carousel{
    width: 100vw;
    height: 100vh;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(255, 255, 255, 0.611);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}

.list .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 100px;
    text-transform: uppercase;
    color: #FF7200;
    font-weight: bold;
    line-height: 1;
    text-shadow: 3px 4px 4px #ffffff;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;
    color: burlywood;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.btn-see-more {
    padding: 10px 20px; 
    background-color: #FF7200; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.btn-see-more:hover {
    background-color: #e65c00; 
}
.content .btn{
    margin-left: 5px;
    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #FF7200;
}

.content .btn button:nth-child(1){
    margin-right: 15px;
}

.content .btn-see-more button:nth-child(2){
    background: transparent;
    color: #FF7200;
    border: 2px solid #fff;
    transition: 0.3s;
}

.content .btn button:nth-child(2):hover{
    background-color: #FF7200;
    color: #fff;
    border-color: #FF7200;
}

@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* next prev arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF7200;
    color: black;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover{
    background: #fff;
    color: #000;
}

/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #FF7200;
    left: 0;
    bottom: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}

/* FOOTER */
footer{
    background-color: #111;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: justify;
}

.footerBottom p{
    color: white;
    text-align: center; 
    margin-left: 20px;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 720px) {
    #hero h4, #hero h2, #hero h1, #hero p {
        text-align: left; /* Align text to the left */
        margin-left: 0;   /* Ensure no left margin */
    }
}

#menu-bar {
    display: none; /* Sembunyikan secara default */
}

@media screen and (max-width: 555px) {
    #menu-bar {
        display: block; /* Tampilkan saat lebar layar 555px atau kurang */
        cursor: pointer;
        color: #ffffff;
    }

    #navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #111;
        z-index: 1000;
    }

    #navbar.active {
        display: flex;
    }

    #navbar li {
        list-style: none;
        padding: 10px 20px;
        position: relative;
    }
    
    #navbar li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        transition: 0.3s ease;
        display: block;
    }
}